@import './_variables.scss';

section.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

section.boards {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  column-gap: 2rem;
}

img.logo {
  max-width: 300px;
}

div.info {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: $text;
  font-family: 'Khand', sans-serif;
  display: flex;
}

div.info:nth-child(2) {
  justify-content: flex-end;
}
