@import './_variables.scss';

div.square {
  width: 35px;
  height: 35px;
  background-color: $water;
  border: 1px solid $background;
  cursor: pointer;
}

div.moving {
  background-color: $ship;
  animation: pulse 1.5s ease-in-out infinite;
}

div.target {
  background-color: $green !important;
}

div.error {
  background-color: $red !important;
}

div.square:not(.target):hover {
  opacity: 0.8;
}

div.ready {
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
