* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
