@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Khand:wght@700&display=swap');
@import './styles/_variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
